{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "10"
        },
        "corejs": "2",
        "useBuiltIns": "entry",
        "modules": "cjs"
      }
    ]
  ]
}
