language: node_js

# it will only build master and version branches
# prs against master and commits on those prs will still be built
branches:
  only:
    - master
    - /v[0-9]+\.[0-9]+\.[0-9]+(-.*)?$/

stages:
  - assert_commits
  - lint
  - test
  - name: release
    if: branch = master

matrix:
  fast_finish: true
  include:
    - stage: "assert_commits"
      script: commitlint-travis

    - stage: "lint"
      script: yarn lint

    - stage: "test"
      name: "windows build"
      os: windows
      node_js: "10.15.2"
      cache: false # windows cache uploads are slow
      env: YARN_GPG=no # starts gpg-agent that never exits

      - name: "macOS build"
        os: osx
        node_js: "10.15.2"

      - name: "linux build"
        os: linux
        node_js: "10.15.2"

    - stage: "release"
      deploy:
        provider: script
        skip_cleanup: true
        script:
          - yarn release

cache: yarn

before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.10.1
  - export PATH="$HOME/.yarn/bin:$PATH"
